[run]
omit =
    */tests/*
    demo/*
    docker/*
    docs/*
    scripts/*
data_file = test-reports/.coverage

[report]
exclude_lines =
    pragma: no cover
    @abstract

[xml]
output = test-reports/coverage.xml
