# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.conf text eol=lf
**/s2i/bin/* text eol=lf
**/root/**/* text eol=lf