aiohttp~=3.8.1
aiohttp-apispec~=2.2.1
aiohttp-cors~=0.7.0
aioredis~=2.0.0
apispec~=3.3.0
async-timeout~=4.0.2
base58~=2.1.0
ConfigArgParse~=1.5.3
deepmerge~=0.3.0
ecdsa~=0.16.1
jsonpath_ng==1.5.2
Markdown~=3.1.1
markupsafe==2.0.1
marshmallow~=3.20.1
msgpack~=1.0
multiformats~=0.2.1
nest_asyncio~=1.5.5
packaging~=23.1
portalocker~=2.7.0
prompt_toolkit~=2.0.9
pydid>=0.4.0.post1
typing-extensions<4.6.0
pyjwt~=2.8.0
pyld~=2.0.3
pynacl~=1.5.0
python-dateutil~=2.8.1
python-json-logger~=2.0.7
pytz~=2021.1
pyyaml~=6.0.1
qrcode[pil]~=6.1
requests~=2.31.0
rlp==1.2.0
unflatten~=0.1
