asynctest==0.13.0
pytest==7.1.2
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pytest-flake8==1.1.1

flake8==4.0.1
# flake8-rst-docstrings==0.0.8
flake8-docstrings==1.6.0
flake8-rst==0.8.0
pydocstyle==6.1.1
pre-commit==2.19.0

sphinx==1.8.4
sphinx-rtd-theme>=0.4.3

ptvsd==4.3.2
pydevd==2.8.0
