<section id="home" class="container">
  <app-breadcrumb></app-breadcrumb>

  <loading-indicator [loading]="! inited"></loading-indicator>

  <div class="alert alert-danger" *ngIf="loadError">
    {{'general.other-error' | translate}}
  </div>

  <span><h1 tabIndex="4" class="home-title text-left" translate *ngIf="inited">home.title<span class="beta">beta</span>
    <img class="beaker" tabindex="5" [alt]="'home.beta' |translate" [src]="'assets/beaker.png'"></h1></span>

  <div class="row" *ngIf="inited && !loadError">
    <div class="col-sm-12">

      <div class="text-left">
        <p translate *ngIf="inited" tabindex="0" >home.message</p>
        <div class="search-outer">
          <div class="search-inner mt-3">
              <search-input  #searchInput (accepted)="performSearch($event)"></search-input>
            </div>

        </div>
      </div>
    </div>
  </div>

</section>
