<nav class="navbar sticky-top navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Acme</span>
    {{!-- {{#if status}}
    {{#eq status "up"}}
    <div class="status status-light bg-success" role="status"></div>
    {{/eq}}
    {{#eq status "down"}}
    <div class="status status-light bg-danger" role="status"></div>
    {{/eq}}
    {{/if}} --}}
    <div id="statusLight" class="spinner-grow text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</nav>

<style>
    .status-light {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin: 0.5rem;
        box-shadow: 0px 0px 2px inset white;
    }
</style>

<script>
    window.addEventListener('load', function () {
        const status = document.querySelector('#statusLight');

        fetch('/status')
            .then((response) => {
                return response.json();
            })
            .then((respons) => {
                status.classList.add('status-light');
                status.classList.remove('spinner-grow');
                if (respons.status === 'up') {
                    status.classList.add('bg-success');
                } else {
                    status.classList.add('bg-danger');
                }
            })
            .catch(e => {
                status.classList.add('status-light');
                status.classList.add('bg-danger');
                status.classList.remove('spinner-grow');
            });
    });

</script>