
/* We override base bootstrap class here */

h1 {
    margin-top: 30px;
}
h1, h2 {
  font-weight: normal;
}

header .navbar {
  @include media-breakpoint-up(md) {
    padding-bottom: 18px;
  }
}

.header-logo {
  width: 90px;
  height: 30px;

  @include media-breakpoint-up(md) {
    width: 135px;
    height: 45px;
  }
}

main {
  padding-bottom: 60px;
}

// Headers

.breadcrumb.page-breadcrumb {
  background: transparent;
}
.page-breadcrumb {
  margin-top: 2px;
  font-weight: 600;
  border-bottom: none;
}

// Panels

.panel-primary {
  background: #f1f1f2;
}

.name-panel {
  border: 1px solid #ccc;
  > .panel-heading {
    background-color:#595959;
    color: white;
    text-align: center;
  }
  > .panel-title {
    border-bottom: none;
    padding-top: 1em;
  }
}

// Links and button
a {
  line-height: 1.1;
  position: relative;
}

.control-label {
  font-weight: bold;
}

.disclaimer-link{
  color: #06c;
  text-decoration: underline;
}

.btn-group {
    margin-left: 10px;
}

.btn-link {
  text-decoration: underline;
}

.text-danger {
    margin:5px 0 15px 0;
}

// Footer
.navbar-footer {
  display: block;
  height: 85px;
  background: url('assets/footer-swoop.gif') no-repeat bottom left;
  background-color: #ededed;
  background-size: 100% 100%;
  padding-top: 0;
  text-align: left;
  position: relative;
}

footer a:hover {
  text-decoration: underline !important;
}
footer {
  font-size: 90%;
  width: 100%;
}

footer .nav-link {
  border-left: 1px solid #4b5e73;
  margin-top: 10px;
}
.section-title {
  margin-left: 15px;
}
