<nav class="navbar sticky-top navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Alice</span>
    <ng-container [ngSwitch]="status">
        <div *ngSwitchCase="agentStatus.Up" class="status-light bg-success" role="status"></div>
        <div *ngSwitchCase="agentStatus.Down" class="status-light bg-danger" role="status"></div>
        <div *ngSwitchCase="agentStatus.Loading" class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div *ngSwitchDefault></div>
    </ng-container>
</nav>