.field-value + .field-value {
  margin-top: 0.7em;
}

.field-list {
  padding-left: 1em;
}

.proof-icon {
  font-size: 30px;
  display: inline;
  padding-right: 0.25em;
  vertical-align: -5px;
}

.expand-icon {
  padding-left: 1em;
}

.expand-link {
  cursor: pointer;
}

.text-success {
  color: #4b5;
}

.verify-data {
  padding: 10px 20px;
  pre {
    white-space: pre-wrap;
  }
}
