$creds-border-color: #ddd;
$creds-bg-even: #f0f0f0;

.cred-row {
  line-height: 1.4;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  .cred-link {
    font-size: 110%;
  }
  .cred-date {
    padding-top: 0.25em;
  }
  &:nth-of-type(even) {
    background: $creds-bg-even;
  }
  .creds-search & {
    border-top: 1px solid $creds-border-color;
    font-size: 1.2rem;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    &:last-child {
      border-bottom: 1px solid $creds-border-color;
    }
  }
  label {
    // font-size: 85%;
    font-weight: normal;
    margin-bottom: 0;
  }
}

.claim-list label {
  font-size: 95%;
  font-weight: 600;
}

$cred-pad: 10px;

.creds-grid {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  padding: $cred-pad $cred-pad 0 0;
  .cred-card {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    display: flex;
    padding: 0.7rem 1.0rem;
    margin: 0 0 $cred-pad $cred-pad;
    min-height: 8em;
    width: 300px;
    > .cred-icon {
      > img {
        height: auto;
        width: 100%;
      }
      padding-right: 8px;
      width: 62px;
    }
    > .cred-detail {
      flex: auto;
      > p {
        margin-bottom: 8px;
      }
    }
  }
}

//place all overrides for a specific theme in this file inside your theme/cred directory
@import "../../_active/cred/cred.custom";
