<div class="card card-primary">
  <div class="card-header d-none d-sm-block py-2">
    <div class="row header-row">
      <div class="col-sm-6">
        {{'cred.description' | translate}}
      </div>
      <div class="col-sm-4">
        {{'cred.last-issued' | translate}}
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  <div class="card-body p-1">
    <div class="container">
      <div class="row type-row py-2" *ngFor="let type of records">
        <div class="col-sm-6">
          <div class="type-title">
            {{type.description}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="type-date" *ngIf="type.last_issue_date">
            <span class="claim-info date">{{type.last_issue_date | date: 'medium'}}</span>
          </div>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
  </div>
</div>
