.type-row {
  + .type-row {
    border-top: 1px solid #ddd;
  }
  .type-link {
    font-size: 110%;
    margin-left: 0.25em;
  }
  .type-date {
    padding-top: 0.25em;
  }
  &:nth-child(even) {
    background-color: #eee;
  }
}

.claim-list label {
  font-size: 95%;
  font-weight: 600;
}

