{{> component_nav moreNavLinks=navLinks}}

<div class="content">
    {{#if connections}}
    <div class="card-columns">
        {{#each connections}}
        {{> connection_card connection=this}}
        {{/each}}
    </div>
    {{else}}
    {{> empty_list }}
    {{/if}}
</div>