.field-value + .field-value {
  margin-top: 0.7em;
}

.field-list {
  padding-left: 1em;
}

.timeline-panel {
  background: none;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 16px;
  max-height: 40em;
  padding: 0.8rem 1.2rem 0.2rem;
  > .panel-heading {
    border-bottom: 1px solid #ccc;
    flex: none;
    display: flex;
    .panel-title {
      flex: auto;
      font-size: 2rem;
    }
    .util-link {
      font-size: 1.3rem;
    }
  }
  > .panel-body {
    flex: auto;
    overflow: auto;
    word-wrap: break-word;
  }
}

.timeline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    time {
      color: #666;
      font-style: italic;
      white-space: nowrap;
    }
    + li {
      margin-top: 10px;
    }
    .issuer-link {
      display: inline-block;
      padding-left: 0.1em;
      padding-right: 0.1em;
      text-decoration: none;
    }
    .cred-link {
      display: inline-block;
      font-weight: 600;
      padding-left: 0.1em;
      padding-right: 0.1em;
      text-decoration: none;
    }
  }
}


//place all overrides for a specific theme in this file inside your theme/cred directory
@import "../../_active/topic/form.component.custom";
