<div class="related-topics mb-3" *ngIf="format != 'compact'">
  <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
  <h2 class="h4" *ngIf="title && !loading && topics?.length">{{title}}</h2>
  <topic-list [records]="topics" [format]="format" *ngIf="!loading"></topic-list>
</div>
<div class="related-topics mb-3" *ngIf="format == 'compact'">
  <span class="load" *ngIf="loading"><div class="loading-indicator"></div></span>
  <div class="row" *ngIf="!loading && topics?.length">
    <div class="col-sm-12">
      <div class="card creds-panel">
        <div class="card-header panel-heading">
          <h2 class="h4 my-0">{{title}}</h2>
        </div>
        <div class="card-body">
          <topic-list [records]="topics" [format]="format"></topic-list>
        </div>
      </div>
    </div>
  </div>
</div>
