<footer>
  <nav class="navbar navbar-footer navbar-light navbar-expand-md">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="http://www.ontario.ca/government/terms-use" target="_blank" [title]="'app.footer.link-title' | translate " translate>app.footer.disclaimer</a></li>
        <li class="nav-item"><a class="nav-link" href="http://www.ontario.ca/government/privacy-statement" [title]="'app.footer.link-title' | translate " target="_blank" translate>app.footer.privacy</a></li>
        <li class="nav-item"><a class="nav-link" href="http://www.ontario.ca/page/accessibility" [title]="'app.footer.link-title' | translate " target="_blank" translate>app.footer.accessibility</a></li>
        <li class="nav-item"><a class="nav-link" [title]="'app.footer.link-title' | translate " href="https://www.ontario.ca/government/copyright-information-c-queens-printer-ontario" target="_blank" translate>app.footer.copyright</a></li>
      </ul>
    </div>
  </nav>
</footer>
