<div class="card shadow-sm">
    <div class="card-body">
        <div class="card-title"></div>
        <div class="card-text">
            <div>
                <small class="text-muted">Schema ID:&nbsp;</small>
                <p>{{ credential?.schema_id }}</p>
            </div>
            <div>
                <small class="text-muted">Credential Definition ID :&nbsp;</small>
                <p>{{ credential?.cred_def_id }}</p>
            </div>
            <div>
                <small class="text-muted">Attributes :&nbsp;</small>
                <p *ngFor="let attr of credential?.attrs | keyvalue">
                    <span>{{ attr.key }}: {{ attr.value }}</span>
                </p>
            </div>
        </div>
    </div>
</div>