<div class="card name-panel" *ngIf="record && name">
    <h4 class="card-header panel-title" tabIndex="0">
      {{name.text }}
    </h4>

    <div class="card-body form-body">
        <div class="row form-group" *ngIf="record.addresses.length > 0">
                <label tabindex="0" class="col-sm-3 control-label" translate>cred.municipality</label>
                <div tabindex="0" class="col-sm-9 form-field">
                   {{record.addresses[0].city | titlecase }}
                </div>
        </div>
       <div class="row form-group">
          <label tabindex="0" class="col-sm-3 control-label" translate>cred.type</label>
          <div class="col-sm-9 form-field">
              <div tabindex="0" *ngIf="record.attribute_map['entity_type'] as topic_type">
                  {{('business_type.' + topic_type.value) | translate}}
              </div>
          </div>
      </div>

      <div class="row form-group">
            <label tabindex="0" class="col-sm-3 control-label" translate>cred.status</label>
            <div class="col-sm-9 form-field">
                <div tabindex="0" *ngIf="record.attribute_map['entity_status'] as topic_status">
                    {{('business_status.' + topic_status.value) | translate}}
                </div>
            </div>
      </div>

      <div class="disclaimer" translate tabindex="0">
          <b translate>topic.note</b>
          topic.disclaimer
          <a [title]="'app.footer.link-title' | translate " class="disclaimer-link" href="https://www.ontario.ca/page/public-record-search" target="_blank"
          translate>topic.click-here</a>
      </div>


  </div>


</div>
