@import "../common";

.filter-item {
  cursor: pointer;
  padding: 0.4rem 0.5rem 0.4rem 0.6rem;
  &.active {
    // box-shadow: 0 0 0 $btn-focus-width rgba(theme-color-level(primary, $alert-border-level), .5);
  }
  &:hover {
    background: theme-color-level(primary, -9);
  }
  .form-check-input {
    &:focus + .list-check-label {
      color: theme-color(primary);
    }
  }
  .filter-label {
    font-size: 95%;
    word-break: break-word;
  }
  .badge {
    vertical-align: 0.2em;
  }
}
