@import "../common";

$input-border-color: lighten(rgba(theme-color(primary), 0.8), 10%);
$input-border-active: #5c8de6;
$input-border-radius: 10px;
$input-background: theme-color(light);

.large-search {
  align-items: center;
  background: $input-background;
  border: 2px solid $input-border-color;
  border-bottom-color: rgba($input-border-color, 0.7);
  border-radius: $input-border-radius;
  box-shadow: inset 0 1px 2px 2px rgba(0, 10, 30, 0.05);
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  overflow: hidden;
  .fa {
    //color: darken($input-border-color, 10%);
    color: #fff;
  }
  .fa, .load {
    flex: 0 0 46px;
    font-size: 26px;
    height: 28px;
    line-height: normal;
    text-align: center;
    width: 42px;
  }
  .loading-indicator {
    border-top-color: rgba(#fff, 0.8);
    &::after {
      border-color: rgba(#fff, 0.2);
    }
  }
  input {
    background: transparent;
    border: none;
    display: block;
    flex: 1 1 auto;
    font-size: 22px;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 3px 0 3px 10px;
    width: 100%;
  }
  button {
    border-radius: ($input-border-radius - 4);
    display: flex;
    flex: none;
    margin: 2px;
  }
  :host.dark-bg & {
    border-color: $input-border-color;
  }
  &.active {
    // border-color: $input-border-active;
    box-shadow: 0 0 0 $btn-focus-width rgba(theme-color(primary), .3);
    .fa {
      //color: #7290e9;
      color: theme-color(light);
    }
    :host.dark-bg & {
      border-color: $input-border-color;
      box-shadow: 0 0 0 $btn-focus-width rgba(theme-color(light), .4);
    }
  }
}

//place all overrides for a specific theme in this file inside your theme/search directory
@import "../../_active/search/input.component.custom";
