
.stats {
  background: linear-gradient(to bottom, #fafafa, #f3f3f3, #f6f6f6);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  font-size: 18px;
  list-style-type: none;
  padding: 2px;
  margin: 0.8em auto;
  max-width: 550px;
  min-width: 75%;
  .stat {
    color: #446;
    padding-top: 2px;
    flex: auto;
    .numbers {
      color: #1a5a96;
      font-size: 105%;
      padding-right: 0.25em;
      text-shadow: 0 1px 1px rgba(50, 70, 100, 0.35);
    }
  }
}

.search-outer {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em auto 0;
  max-width: 550px;
  min-width: 75%;
  padding: 2px;
  .search-inner {
    background: #fafafa;
    padding: 0 1em 1em;
  }
  .search-title {
    display: flex;
    margin: 0 auto;
    h2 {
      font-size: 22px;
      padding: 0 2rem 1rem;
    }
  }
}

//place all overrides for a specific theme in this file inside your theme/home directory
@import "../../_active/home/home.component.custom";
