@import "../common";

.stat-row {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;

  + .stat-row {
    margin-top: 1.5rem;
  }

  .square {
    display: block;
    flex: none;
    width: 4.5rem;
    height: 4.5rem;
    background: theme-color(primary);
    color: theme-color(light);
    font-size: 1.7rem;
    line-height: 4.5rem;
    margin-right: 1rem;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
  }

  .desc {
    flex: auto;
  }
}
