name: PR Tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Tests
    uses: ./.github/workflows/tests.yml
    with:
      python-version: "3.9"
      os: "ubuntu-latest"
    secrets: inherit
