name: PR Tests

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Tests
      uses: ./.github/actions/run-unit-tests
      with:
        python-version: "3.12"
        os: "ubuntu-latest"
        is_pr: "true"
