:host {
  position: fixed;
  right: 0;
  bottom: 0;
}

.btn {
  position: relative;
  bottom: 0;
  right: 1rem;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.2s ease-out;
  &.visible {
    opacity: 1.0;
    bottom: 1rem;
  }
}
